.menu input {
    font-weight: bold;
    color: black;
    border-right: unset;
    border-left: unset;
    border-top: unset;
    float: left;
    background: unset;
    font-size: 3.5vmax;
}

.menu input:hover {
    font-weight: bold;
    color: black;
    border-bottom-color: rgb(28, 109, 201);
}

table {
    overflow: auto;
    color: black;
    line-height: 1.5;
    display: block;
    float: left;
    clear: left;
    margin: 5px;
    padding: 15px;
    border: 1px solid #eee;
    word-wrap: break-word;
    border-bottom-color: #ddd;
    -webkit-box-shadow: 0 1px 3px #eee;
    -moz-box-shadow: 0 1px 3px #eee;
    box-shadow: 0 1px 3px #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Verdana;
    font-size: 12px;
    size: 3.5vmax;
}

h1 {
    font-family: 'Bai Jamjuree';
    font-size: 22px;
    display: inline;
}

input[type=date] {
    color: black;
    border: 1px solid #eee;
    border-bottom-color: rgb(201, 201, 201);
    box-shadow: 0 1px 3px #eee;
    background-color: white;
    border-radius: 5px;
}

.days input[type=button] {
    color: black;
    border: 1px solid #eee;
    border-bottom-color: rgb(201, 201, 201);
    box-shadow: 0 1px 3px #eee;
    background-color: white;
    border-radius: 5px;
}

.days input[type=button]:hover {
    color: white;
    border: 1px solid #eee;
    border-bottom-color: rgb(201, 201, 201);
    box-shadow: 0 1px 3px #eee;
    background-color: rgb(54, 92, 136);
    border-radius: 5px;
    transition: 0.1s;
}
 